/* CDN Fonts */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.cdnfonts.com/css/rughato-wacner');

/* Font Faces */
@font-face {
  font-family: 'ImHyeMin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'ImHyeMin', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'UGHATO WACNER', sans-serif;
}